<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <div class="widget">
        <div class="widget-header">
          <h1><span class="glyphicon glyphicon-globe"></span><b> Companies List</b></h1>
        </div>
        <div class="widget-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th><%= sort_link(@q, :customer_code, 'Customer Code') %></th>
              <th><%= sort_link(@q, :customer_name, 'Customer Name') %></th>
              <th><%= sort_link(@q, :email, 'Email') %></th>
              <th><%= sort_link(@q, :phone_no, 'Phone no') %></th>
              <th><%= sort_link(@q, :address, 'Address') %></th>
              <th><%= sort_link(@q, :join_date, 'Join Date') %></th>
              <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
            <% @customers.each do |customer| %>
                <tr>
                  <td><%= customer.customer_code %></td>
                  <td><%= customer.customer_name %></td>
                  <td><%= customer.email %></td>
                  <td><%= customer.phone_no %></td>
                  <td><%= customer.address %></td>
                  <td><%= customer.join_date %></td>
                  <td><%= link_to 'Show', customer %></td>
                  <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
                  <td>
                    <%= button_to customer, method: :delete, id: 'trash_button', data: { confirm: 'Are you sure?' } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <br>
        <%= link_to 'New Customer', new_customer_path %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="widget">
        <div class="widget-header">
          <h3><b>Search Form</b></h3>
        </div>
        <div class="widget-body">
          <%= search_form_for @q, :class=>'form-group' do |f| %>
              <%= f.label :customer_code %>
              <%= f.search_field :customer_code_cont, :class=>'form-control' %>
              <%= f.label :customer_name %>
              <%= f.search_field :customer_name_cont, :class=>'form-control' %>
              <%= f.label :email %>
              <%= f.search_field :email_cont, :class=>'form-control' %>
              <%= f.label :phone_no %>
              <%= f.search_field :phone_no_cont, :class=>'form-control' %>
              <%= f.label :address %>
              <%= f.search_field :address_cont, :class=>'form-control' %>
              <%= f.label :join_date %>
              <%= f.date_field :join_date_cont, :class=>'form-control' %><br><br>
              <%= f.submit 'Search', class:"btn btn-outline-success", id: 'search_filter' %>
              <%= link_to 'Clear Filter', request.path, class:"btn btn-outline-warning", id: 'clear_filter' %>
          <% end %>
        </div>
      </div>

      <div class="widget">
        <div class="widget-header">
          <h3><b>Upload csv. file</b></h3>
        </div>
        <div class="widget-body"></div>
      </div>
    </div>
  </div>
</div>







