<%= form_for(staff_info) do |f| %>
  <% if staff_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff_info.errors.count, "error") %> prohibited this staff_info from being saved:</h2>

      <ul>
      <% staff_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :staff_id %>
    <%= f.number_field :staff_id %>
  </div>

  <div class="field">
    <%= f.label :staff_first_name %>
    <%= f.text_field :staff_first_name %>
  </div>

  <div class="field">
    <%= f.label :staff_last_name %>
    <%= f.text_field :staff_last_name %>
  </div>

  <div class="field">
    <%= f.label :staff_email %>
    <%= f.text_field :staff_email %>
  </div>

  <div class="field">
    <%= f.label :staff_phone %>
    <%= f.text_field :staff_phone %>
  </div>

  <div class="field">
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>

  <div class="field">
    <%= f.label :staff_post %>
    <%= f.text_field :staff_post %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
